{:deps   {:aliases [:cljs :dev]},
 :builds {:test  {:target    :karma,
                  :output-to "target/karma-test.js"},
          :cards {:target     nubank.workspaces.shadow-cljs.target,
                  :ns-regexp  "-(test|cards)$",
                  :output-dir "resources/public/js/workspaces",
                  :asset-path "/js/workspaces",
                  :preloads   []},
          :ssr   {:target           :node-script,
                  :main             poker.ssr/-main,
                  :output-to        "target/index-ssr.js",
                  :compiler-options {:reader-features #{:node},
                                     :optimizations   :simple}},
          :web   {:devtools   {:after-load poker.app/after-load,
                               :watch-dir  "resources/public",
                               :http-port  8000,
                               :http-root  "resources/public"},
                  :modules    {:app {:init-fn poker.app/-main}},
                  :output-dir "resources/public/js",
                  :dev        {:build-hooks [(postcss/watch "src/css/app.css"
                                                            "resources/public/css/app.css")]},
                  :release    {:build-hooks [(postcss/release "src/css/app.css"
                                                              "resources/public/css/app.css")]},
                  :target     :browser}},
 :nrepl  {:init-ns user}}
