{:skip-comments true
 :lint-as {nubank.workspaces.core/defcard clj-kondo.lint-as/def-catch-all
           nubank.workspaces.core/deftest clojure.test/deftest
           mount.core/defstate clojure.core/def
           reagent.core/with-let clojure.core/let}}
